<!-- request-reset-password.component.html -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Encafeinados <br />
          <span style="color: hsl(218, 81%, 75%)">Beneficios</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass mx-auto" style="max-width: 400px;">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="requestResetForm" (ngSubmit)="requestReset()">
              <div class="text-center mb-4">
                <img src="../../../../assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
              </div>
              <p class="h5 mb-4 text-center">Restablecer Contraseña</p>

              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Correo</span>
                <input 
                  class="input100 small-placeholder form-control" 
                  type="email" 
                  formControlName="email" 
                  placeholder="Correo electrónico"
                  autocomplete="email"
                >
                <span class="focus-input100"></span>
              
                <!-- Mensaje de error para el campo requerido -->
                <div *ngIf="requestResetForm.get('email')?.touched && requestResetForm.get('email')?.hasError('required')" class="error-message">
                  El campo correo electrónico es obligatorio.
                </div>
              
                <div *ngIf="requestResetForm.get('email')?.touched && requestResetForm.get('email')?.hasError('invalidDomain')" class="error-message">
                  El dominio del correo electrónico no es válido.
                </div>
              
                <!-- Mensaje de error para correos electrónicos no registrados -->
                <div *ngIf="requestResetForm.get('email')?.touched && requestResetForm.get('email')?.hasError('emailNotRegistered')" class="error-message">
                  El correo electrónico no está registrado.
                </div>

                <div *ngIf="requestResetForm.get('email')?.touched && requestResetForm.get('email')?.hasError('invalidEmailFormat')" class="error-message">
                  El formato del correo electrónico es inválido.
                </div>
              </div>
              

              <div class="text-center pt-1 mb-5 pb-1">
                <button 
                  data-mdb-button-init 
                  data-mdb-ripple-init 
                  class="btn btn-primary btn-block mb-4" 
                  [disabled]="requestResetForm.invalid" 
                  type="submit"
                >
                  Restablecer
                </button>
                <a class="text-muted mt-3 d-block" routerLink="/auth/login">Iniciar Sesión</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
