<!-- request-reset-password.component.html -->
<div class="main-content">
  <section class="background-circle">
    <div class="form-container">
      <div class="card bg-glass mx-auto" style="max-width: 400px;">
        <div class="card-body px-4 py-5 px-md-5">
          <form [formGroup]="requestResetForm" (ngSubmit)="requestReset()" autocomplete="off">
            <div class="text-center mb-4">
              <img src="../../../../assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
            </div>
            <p class="h5 mb-4 text-center">Restablecer Contraseña</p>
            <div *ngIf="showError" class="custom-error">
              Correo no registrado.
            </div>

            <!-- Correo -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Correo</span>
              <div class="wrap-input100">
                <input class="input100 small-placeholder form-control" type="email" formControlName="email"
                  placeholder="Correo electrónico" autocomplete="email" (input)="onInputChange()">
                <span class="focus-input100"></span>
              </div>

              <!-- Mostrar solo un error a la vez en el siguiente orden: required, invalidDomain, invalidEmailFormat, emailNotRegistered -->
              <div *ngIf="requestResetForm.get('email')?.dirty && requestResetForm.get('email')?.hasError('required')" class="error-message">
                El campo correo es obligatorio.
              </div>
              <div *ngIf="requestResetForm.get('email')?.dirty && requestResetForm.get('email')?.hasError('invalidDomain') && !requestResetForm.get('email')?.hasError('required')" class="error-message">
                El formato del correo no es válido.
              </div>
              <div *ngIf="requestResetForm.get('email')?.dirty && requestResetForm.get('email')?.hasError('invalidEmailFormat') && !requestResetForm.get('email')?.hasError('required') && !requestResetForm.get('email')?.hasError('invalidDomain')" class="error-message">
                El formato del correo es inválido.
              </div>
             
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button 
                data-mdb-button-init 
                data-mdb-ripple-init 
                class="login100-form-btn" 
                [disabled]="requestResetForm.invalid" 
                type="submit"
              >
                Restablecer
              </button>
              <a class="text-muted mt-3 d-block" routerLink="/auth/login">Iniciar Sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
