.facturacion-container {
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
  padding: 70px;
  margin-top: 140px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.facturacion-container img {
  margin-bottom: 20px; /* Agrega espacio entre la imagen y el contenido inferior */
}

.modal-payment {
  background-color: #fffaf0; /* Color de fondo más claro */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  position: relative; /* Para las decoraciones */
  overflow: hidden; /* Evitar que se muestren elementos que sobresalen */
}

.modal-payment::before,
.modal-payment::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 20px;
  background: linear-gradient(to bottom, #68d2e8, #03aed2);
  z-index: -1;
  border-radius: 10px;
}

.modal-payment::before {
  left: -25px;
  transform: rotate(2deg);
}

.modal-payment::after {
  right: -25px;
  transform: rotate(-2deg);
}

.modal-payment .modal-header {
  background-color: #0f1eee;
  color: #ffffff;
  border: none; /* Eliminamos el borde */
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-payment .modal-header::after {
  content: "Pasaporte";
  position: absolute;
  bottom: -20px;
  right: 20px;
  font-size: 0.8rem;
  color: #03aed2;
}

.modal-payment .modal-header .close {
  color: #ffffff;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-payment .modal-body {
  padding: 20px;
  background-color: #d4f1f7;
  border-radius: 0 0 10px 10px;
}
.modal-payment .modal-footer {
  padding: 15px;
  display: flex;
  justify-content: center; /* Cambiado a 'center' para centrar los botones */
  border-top: 1px solid #E0E0E0;
}

.table {
  width: 100%; /* Asegúrate de que la tabla ocupe el 100% del ancho disponible */
}

.meses {
  display: flex;
  align-items: center; /* Alinea el select y el label verticalmente */
}

.meses label {
  margin-right: 10px; /* Ajusta el espacio entre el label y el select */
}

.meses select {
  width: 100%; /* Asegura que ocupe todo el espacio del contenedor */
  max-width: 150px; /* Limita el ancho máximo del select a 100px */
  padding: 5px; /* Ajusta el relleno */
}

.table .btn-sm {
  padding: 3px 6px;
  font-size: 0.875rem;
}


.qr-upload {
  display: flex;
  align-items: center; /* Alinea el label y el input verticalmente */
}

.qr-upload label {
  margin-right: 40px; /* Ajusta el espacio entre el label y el input */
}

.qr-upload input[type="file"] {
  width: auto; /* Ajusta el tamaño del input */
}


.grid-section {
  margin-top: 20px;
  width: 100%;
}

.grid-section table {
  width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse;
  text-align: center;
}

.grid-section th, .grid-section td {
  padding: 15px; /* Aumenta el padding para que el contenido no quede tan compacto */
  border: 1px solid #ddd;
}

.grid-section td.pagado {
  color: green;
}

.grid-section td.rechazado {
  color: red;
}


.btn-disabled {
  background-color: #cccccc; /* Color gris claro */
  border-color: #cccccc;
  color: #666666; /* Color del texto */
  pointer-events: none; /* Desactivar interacción */
}







