<div class="container facturacion-container">
  <!-- Fila para la imagen -->
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8 text-center">
      <img src="../../../../assets/images/QR.png" alt="Imagen de encabezado" class="img-fluid" />
    </div>
  </div>

  <!-- Fila para el selector de años y meses -->
  <div class="row mb-4">
    <!-- Selector de años -->
    <div class="col-md-3 d-flex align-items-center">
      <label for="years" class="mr-2">Año:</label>
      <select id="years" class="form-control form-control-sm" [(ngModel)]="selectedYear"
        (change)="onMonthOrYearChange()">
        <option [value]="null" disabled selected>Seleccione un año</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <!-- Selector de meses -->
    <div class="col-md-3 d-flex align-items-center meses">
      <label for="meses" class="mr-2">Mes:</label>
      <select id="meses" class="form-control form-control-sm" [(ngModel)]="selectedMonth" [disabled]="!selectedYear"
        (change)="onMonthOrYearChange()">
        <option [value]="null" disabled selected>Seleccione un mes</option>
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>
    </div>
    <div class="col-md-6 qr-upload">
      <div class="form-group">
        <label for="qrUpload" class="mr-2">Subir comprobante:</label>
        <input type="file" id="qrUpload" class="form-control-file" accept="image/*,application/pdf" required
          #qrUpload="ngModel" [(ngModel)]="qrImage" name="qrImage" (change)="onFileSelected($event)" />
        <!-- Mensaje de error si no se ha seleccionado un archivo -->
        <div *ngIf="qrUpload.invalid && submitted" class="text-danger mt-1">
          Campo obligatorio.
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de códigos usados -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Código Usado</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acción</th><!-- Nueva columna para el icono de guardar -->
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredCodes.length === 0">
            <td class="text-center" colspan="5">No hay registros</td>
          </tr>
          <tr *ngFor="let code of filteredCodes">
            <td class="text-center">{{ code.code }}</td>
            <td class="text-center">{{ code.value | currency:'USD':'symbol':'1.0-0' }}</td>
            <td class="text-center"
              [ngClass]="{'text-success': code.status.toLowerCase() === 'pagado', 'text-danger': code.status.toLowerCase() === 'pendiente'}">
              {{ code.status }}
            </td>
            <td class="text-center">
              <button class="btn btn-success btn-sm" (click)="saveFile(code)"
                [disabled]="isSaving || code.status.toLowerCase() === 'pagado'"
                [ngClass]="{'btn-disabled': isSaving || code.status.toLowerCase() === 'pagado'}">
                <i class="fas fa-save"></i> <!-- Ícono de Font Awesome -->
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #sesionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmación de Pago</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

    </button>
  </div>
  <div class="modal-body">
    <p>¿Está seguro de que desea guardar el pago?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="confirmUpload(modal)">Confirmar</button>
  </div>
</ng-template>