<!-- reset-password.component.html -->
<div class="main-content">
  <section class="background-circle">
    <div class="form-container">
      <div class="card bg-glass mx-auto" style="max-width: 400px;">
        <div class="card-body px-4 py-5 px-md-5">
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <div class="text-center mb-4">
              <img src="encafeinados/assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
            </div>
            <p class="h5 mb-4 text-center">Restablecer Contraseña</p>

            <!-- Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Contraseña</span>
              <div class="input-with-eye">
                <input
                  class="input100 small-placeholder form-control"
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  formControlName="password"
                  placeholder="Contraseña"
                  autocomplete="new-password"
                >
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                </div>
              </div>
              <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('required')" class="error-message">
                El campo contraseña es obligatorio.
              </div>
              <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('minlength')" class="error-message">
                La contraseña debe tener al menos 8 caracteres.
              </div>
              <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('passwordInvalid')" class="error-message">
                La contraseña debe contener al menos una letra mayúscula, un número y un carácter especial.
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Confirmar Contraseña</span>
              <div class="input-with-eye">
                <input
                  class="input100 small-placeholder form-control"
                  type="{{ hidePasswordconfirm ? 'password' : 'text' }}"
                  formControlName="confirmPassword"
                  placeholder="Confirmar contraseña"
                  autocomplete="new-password"
                >
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibilityconfirm()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePasswordconfirm, 'fa-eye-slash': !hidePasswordconfirm}"></i>
                </div>
              </div>
              <div *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched" class="error-message">
                Las contraseñas no coinciden.
              </div>
              <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.hasError('required')" class="error-message">
                El campo confirmar contraseña es obligatorio.
              </div>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="login100-form-btn"
                [disabled]="resetForm.invalid"
                type="submit"
              >
                Restablecer Contraseña
              </button>
              <a class="text-muted mt-3 d-block" routerLink="/auth/login">Iniciar Sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
