<!-- reset-password.component.html -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Encafeinados <br />
          <span style="color: hsl(218, 81%, 75%)">Beneficios</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass mx-auto" style="max-width: 400px;">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
              <div class="text-center mb-4">
                <img src="../../../../assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
              </div>
              <p class="h5 mb-4 text-center">Restablecer Contraseña</p>

               <!-- Contraseña -->
               <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Contraseña</span>
                <div class="input-with-eye">
                  <input class="input100 small-placeholder form-control" type="{{ hidePassword ? 'password' : 'text' }}"
                    formControlName="password" placeholder="Contraseña" autocomplete="new-password">
                  <span class="focus-input100"></span>
                  <div class="eye-icon" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                  </div>
                </div>
                <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('required')"
                  class="error-message">
                  El campo contraseña es obligatorio.
                </div>
                <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('minlength')"
                  class="error-message">
                  La contraseña debe tener al menos 8 caracteres.
                </div>
                <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('passwordInvalid')"
                  class="error-message">
                  La contraseña debe contener al menos una letra mayúscula, un número y un carácter especial.
                </div>
              </div>

              <!-- Confirmar Contraseña -->
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Confirmar Contraseña</span>
                <div class="input-with-eye">
                  <input class="input100 small-placeholder form-control"
                    type="{{ hidePasswordconfirm ? 'password' : 'text' }}" formControlName="confirmPassword"
                    placeholder="Confirmar contraseña" autocomplete="new-password">
                  <span class="focus-input100"></span>
                  <div class="eye-icon" (click)="togglePasswordVisibilityconfirm()">
                    <i class="fa" [ngClass]="{'fa-eye': hidePasswordconfirm, 'fa-eye-slash': !hidePasswordconfirm}"></i>
                  </div>
                </div>
                <div *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched" class="error-message">
                  Las contraseñas no coinciden.
                </div>
                
                <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('required')"
                  class="error-message">
                  El campo confirmar contraseña es obligatorio.
                </div>
              </div>

              <div class="text-center pt-1 mb-5 pb-1">
                <button 
                  data-mdb-button-init 
                  data-mdb-ripple-init 
                  class="login100-form-btn" 
                  [disabled]="resetForm.invalid" 
                  type="submit"
                >
                  Restablecer Contraseña
                </button>
                <a class="text-muted mt-3 d-block" routerLink="/auth/login">Iniciar Sesión</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
