<!-- Section: Design Block -->
<div class="main-content">
  <section class="background-circle">
    <div class="form-container">
      <div class="card bg-glass mx-auto" style="max-width: 400px;">
        <div class="card-body px-4 py-5 px-md-5">
          <form class="login100-form" autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
            <div class="text-center mb-4">
              <img src="../../../../assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
            </div>
            <p class="h5 mb-4 text-center">Registro de Usuario</p>

            <!-- Nombre -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Nombre</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="text" formControlName="name"
                  placeholder="Nombre completo" autocomplete="name">
                <span class="focus-input100"></span>
              </div>
              <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.hasError('required')"
                class="error-message">
                El campo nombre es obligatorio.
              </div>
              <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.hasError('invalidName')"
                class="error-message">
                El nombre no es válido. Debe contener solo letras y no permite caracteres especiales ni espacios.
              </div>
              <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.hasError('minlength')"
                class="error-message">
                Mínimo debe ser 3 letras.
              </div>
              <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.hasError('maxlength')"
                class="error-message">
                El campo nombre no puede superar los 30 caracteres.
              </div>
            </div>

            <!-- Correo -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Correo</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="email" formControlName="email"
                  placeholder="Correo electrónico" autocomplete="email">
                <span class="focus-input100"></span>
              </div>
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('required')"
                class="error-message">
                El campo correo es obligatorio.
              </div>
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('invalidEmailFormat')"
                class="error-message">
                El formato del correo electrónico es inválido.
              </div>
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('invalidDomain')"
                class="error-message">
                El formato del correo electrónico no es válido.
              </div>
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('emailTaken')"
                class="error-message">
                El correo electrónico ya está en uso.
              </div>
            </div>

            <!-- Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Contraseña</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="{{ hidePassword ? 'password' : 'text' }}"
                  formControlName="password" placeholder="Contraseña" autocomplete="new-password">
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                </div>
              </div>
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('required')"
                class="error-message">
                El campo contraseña es obligatorio.
              </div>
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('minlength')"
                class="error-message">
                La contraseña debe tener al menos 8 caracteres.
              </div>
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('passwordInvalid')"
                class="error-message">
                La contraseña debe contener al menos una letra mayúscula, un número y un carácter especial.
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Confirmar Contraseña</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="{{ hidePasswordconfirm ? 'password' : 'text' }}"
                  formControlName="confirmPassword" placeholder="Confirmar contraseña" autocomplete="new-password">
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibilityconfirm()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePasswordconfirm, 'fa-eye-slash': !hidePasswordconfirm}"></i>
                </div>
              </div>
              <div *ngIf="myForm.hasError('mismatch') && myForm.get('confirmPassword')?.touched" class="error-message">
                Las contraseñas no coinciden.
              </div>
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('required')"
                class="error-message">
                El campo confirmar contraseña es obligatorio.
              </div>
            </div>

            <!-- Celular -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Celular</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="number" formControlName="phone"
                placeholder="Celular" autocomplete="tel" min="1000000000" max="999999999999999">
                <span class="focus-input100"></span>
              </div>
              <div *ngIf="myForm.get('phone')?.hasError('invalidPhoneNumber') && myForm.get('phone')?.touched"
                class="error-message">
                El número de celular debe contener solo números y tener 10 dígitos.
              </div>
              <div *ngIf="myForm.get('phone')?.touched && myForm.get('phone')?.hasError('required')" class="error-message">
                El campo celular es obligatorio.
              </div>
            </div>

            <!-- Campos específicos para tiendas -->
            <div *ngIf="isStore">
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Especialidad 1</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="specialties1"
                  placeholder="Especialidad 1">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Especialidad 2</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="specialties2"
                  placeholder="Especialidad 2">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Dirección</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="address"
                  placeholder="Dirección" (input)="onAddressChange($event)">
                <span class="focus-input100"></span>
                <div *ngIf="suggestedAddresses.length > 0" class="address-suggestions">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let address of suggestedAddresses"
                      (click)="selectAddress(address)">
                      {{ address }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Logo</span>
                <input class="file-input-label form-control" type="file" (change)="onFileChange($event)">
              </div>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button data-mdb-button-init data-mdb-ripple-color="dark" type="submit"
                class="btn btn-primary btn-block mb-3">Registrar</button>
            </div>
            <div class="text-center">
              <p>Ya tienes cuenta? <a routerLink="/auth/login" class="txt2">Inicia sesión</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
