<!-- Section: Design Block -->
<div class="main-content">
  <section class="background-circle">
    <div class="form-container">
      <div class="card bg-glass mx-auto" style="max-width: 400px;">
        <div class="card-body px-3 py-4 px-md-4">
          <form class="login100-form" autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
            <div class="text-center mb-4">
              <img src="../../../../assets/images/logosinfondo.png" alt="Logo" style="width: 100px; height: auto;">
            </div>
            <p class="h5 mb-4 text-center">Registro de Usuario</p>
            <div *ngIf="showError" class="custom-error">
              El correo electrónico ya está en uso.
            </div>

            <!-- <!-- Opciones de tipo de registro 
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Tipo de Registro</span>
              <div class="d-flex justify-content-around mt-2">
                <div>
                  <input type="radio" id="user" (change)="onUserTypeChange('user')" [checked]="isUser">
                  <label for="user">Usuario</label>
                </div>
                <div>
                  <input type="radio" id="store" (change)="onUserTypeChange('store')" [checked]="isStore">
                  <label for="store">Tienda</label>
                </div>
              </div>
            </div> -->
            <!-- Nombre -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Nombre</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="text" formControlName="name"
                  placeholder="Nombre completo" autocomplete="name">
                <span class="focus-input100"></span>
              </div>

              <!-- Solo se muestra un error a la vez, en este orden: requerido, minlength, maxlength, invalidName -->
              <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.hasError('required')"
                class="error-message">
                El campo es obligatorio.
              </div>
              <div
                *ngIf="myForm.get('name')?.dirty && myForm.get('name')?.hasError('minlength') && !myForm.get('name')?.hasError('required')"
                class="error-message">
                Mínimo debe ser 3 letras.
              </div>
              <div
                *ngIf="myForm.get('name')?.dirty && myForm.get('name')?.hasError('maxlength') && !myForm.get('name')?.hasError('required') && !myForm.get('name')?.hasError('minlength')"
                class="error-message">
                No puede superar los 30 caracteres.
              </div>
              <div
                *ngIf="myForm.get('name')?.dirty && myForm.get('name')?.hasError('invalidName') && !myForm.get('name')?.hasError('required') && !myForm.get('name')?.hasError('minlength') && !myForm.get('name')?.hasError('maxlength')"
                class="error-message">
                Solo letras,sin espacios ni símbolos.
              </div>
            </div>

            <!-- Correo -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Correo</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="email" formControlName="email"
                  placeholder="Correo electrónico" autocomplete="email" (input)="onInputChanged()">
                <span class="focus-input100"></span>
              </div>

              <!-- Solo se muestra un error a la vez, en este orden: requerido, invalidEmailFormat, invalidDomain -->
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('required')"
                class="error-message">
                El campo es obligatorio.
              </div>
              <div
                *ngIf="myForm.get('email')?.dirty && myForm.get('email')?.hasError('invalidEmailFormat') && !myForm.get('email')?.hasError('required')"
                class="error-message">
                El formato del correo es inválido.
              </div>
              <div
                *ngIf="myForm.get('email')?.dirty && myForm.get('email')?.hasError('invalidDomain') && !myForm.get('email')?.hasError('required') && !myForm.get('email')?.hasError('invalidEmailFormat')"
                class="error-message">
                El formato del correo no es válido.
              </div>
            </div>

            <!-- Procedencia -->
            <div *ngIf="isUser" class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Procedencia</span>
              <div class="radio-group">
                <label class="radio-option">
                  <input type="radio" formControlName="origin" value="Local">
                  <span class="radio-label">Local</span>
                </label>
                <label class="radio-option">
                  <input type="radio" formControlName="origin" value="Extranjero">
                  <span class="radio-label">Extranjero</span>
                </label>
              </div>

              <!-- Mostrar error si el campo está vacío -->
              <div *ngIf="myForm.get('origin')?.touched && myForm.get('origin')?.hasError('required')"
                class="error-message">
                El campo procedencia es obligatorio.
              </div>
            </div>

            <!-- Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Contraseña</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="{{ hidePassword ? 'password' : 'text' }}"
                  formControlName="password" placeholder="Contraseña" autocomplete="new-password">
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                </div>
              </div>

              <!-- Solo se muestra un error a la vez, en este orden: requerido, minlength, passwordInvalid -->
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('required')"
                class="error-message">
                El campo contraseña es obligatorio.
              </div>
              <div
                *ngIf="myForm.get('password')?.dirty && myForm.get('password')?.hasError('minlength') && !myForm.get('password')?.hasError('required')"
                class="error-message">
                Minimo debe tener 8 caracteres.
              </div>
              <div
                *ngIf="myForm.get('password')?.dirty && myForm.get('password')?.hasError('passwordInvalid') && !myForm.get('password')?.hasError('required') && !myForm.get('password')?.hasError('minlength')"
                class="error-message">
                Falto mayúscula, número o simbolo
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Confirmar Contraseña</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control"
                  type="{{ hidePasswordconfirm ? 'password' : 'text' }}" formControlName="confirmPassword"
                  placeholder="Confirmar contraseña" autocomplete="new-password">
                <span class="focus-input100"></span>
                <div class="eye-icon" (click)="togglePasswordVisibilityconfirm()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePasswordconfirm, 'fa-eye-slash': !hidePasswordconfirm}"></i>
                </div>
              </div>

              <!-- Mostrar un error a la vez -->
              <div *ngIf="myForm.get('confirmPassword')?.touched && myForm.get('confirmPassword')?.hasError('required')"
                class="error-message">
                El campo confirmar es obligatorio.
              </div>
              <div
                *ngIf="myForm.hasError('mismatch') && myForm.get('confirmPassword')?.dirty && !myForm.get('confirmPassword')?.hasError('required')"
                class="error-message">
                Las contraseñas no coinciden.
              </div>
            </div>

            <!-- Celular -->
            <div class="wrap-input100 m-b-23 form-outline mb-4">
              <span class="label-input100">Celular</span>
              <div class="input-with-eye">
                <input class="input100 small-placeholder form-control" type="text" formControlName="phone"
                  placeholder="Celular">
                <span class="focus-input100"></span>
              </div>

              <!-- Mostrar un solo error a la vez, usando 'dirty' -->
              <div *ngIf="myForm.get('phone')?.dirty">
                <!-- Validación de campo requerido -->
                <div *ngIf="myForm.get('phone')?.hasError('required')" class="error-message">
                  El campo celular es obligatorio.
                </div>

                <!-- Validación de solo números -->
                <div
                  *ngIf="myForm.get('phone')?.hasError('invalidPhoneNumber') && !myForm.get('phone')?.hasError('required')"
                  class="error-message">
                  Solo debe contener números.
                </div>

                <!-- Validación de longitud mínima (solo se muestra si no hay error de 'invalidPhoneNumber') -->
                <div
                  *ngIf="myForm.get('phone')?.hasError('minlength') && !myForm.get('phone')?.hasError('required') && !myForm.get('phone')?.hasError('invalidPhoneNumber')"
                  class="error-message">
                  Mínimo debe tener 10 números.
                </div>

                <!-- Validación de longitud máxima (solo se muestra si no hay error de 'invalidPhoneNumber') -->
                <div
                  *ngIf="myForm.get('phone')?.hasError('maxlength') && !myForm.get('phone')?.hasError('required') && !myForm.get('phone')?.hasError('invalidPhoneNumber')"
                  class="error-message">
                  Máximo debe tener 10 números.
                </div>
              </div>
            </div>


            <!-- Campos específicos para tiendas -->
            <div *ngIf="isStore">
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Especialidad 1</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="specialties1"
                  placeholder="Especialidad 1">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Especialidad 2</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="specialties2"
                  placeholder="Especialidad 2">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Dirección</span>
                <input class="input100 small-placeholder form-control" type="text" formControlName="address"
                  placeholder="Dirección" (input)="onAddressChange($event)">
                <span class="focus-input100"></span>
                <div *ngIf="suggestedAddresses.length > 0" class="address-suggestions">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let address of suggestedAddresses"
                      (click)="selectAddress(address)">
                      {{ address }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="wrap-input100 m-b-23 form-outline mb-4">
                <span class="label-input100">Logo</span>
                <input class="file-input-label form-control" type="file" (change)="onFileChange($event)">
              </div>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button 
                data-mdb-button-init 
                data-mdb-ripple-init 
                class="login100-form-btn" 
                [disabled]="myForm.invalid || isLoading" 
                type="submit"
              >
                <ng-container *ngIf="isLoading; else buttonText">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Registrando...
                </ng-container>
                <ng-template #buttonText>Registrar</ng-template>
              </button>
            </div>
            
            <div class="flex-col-c p-t-3 mt-3">
              <span class="txt1 p-b-2">
                ¿Ya tienes cuenta?
              </span>
              <a routerLink="/auth/login" class="txt2">Inicia sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>