<div class="limiter">
  <div class="main-container">
    <div class="form-container">
      <form class="login100-form" autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
        <span class="login100-form-title-1 p-b-35">
          {{ formTitle }}
        </span>

        <!-- Opciones de tipo de registro -->
        <div class="wrap-input100 m-b-23" style="margin-bottom: 20px;">
          <span class="label-input100">Tipo de Registro</span>
          <div style="margin-top: 10px;">
            <input type="checkbox" (change)="onUserTypeChange('user')" [checked]="isUser"> Usuario
            <input type="checkbox" (change)="onUserTypeChange('store')" [checked]="isStore" style="margin-left: 20px;"> Tienda
          </div>
        </div>

        <!-- Campos comunes -->
        <div class="wrap-input100 m-b-23">
          <span class="label-input100">Nombre</span>
          <input class="input100 small-placeholder" type="text" formControlName="name" placeholder="Nombre completo">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 m-b-23">
          <span class="label-input100">Correo</span>
          <input class="input100 small-placeholder" type="email" formControlName="email" placeholder="Correo electrónico">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 m-b-23">
          <span class="label-input100">Contraseña</span>
          <div class="input-with-eye">
            <input class="input100 small-placeholder" type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password" placeholder="Contraseña">
            <span class="focus-input100"></span>
            <div class="eye-icon" (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
            </div>
          </div>
        </div>

        <div class="wrap-input100 m-b-23">
          <span class="label-input100">Confirmar Contraseña</span>
          <div class="input-with-eye">
            <input class="input100 small-placeholder" type="{{ hidePasswordconfirm ? 'password' : 'text' }}" formControlName="confirmPassword" placeholder="Confirmar contraseña">
            <span class="focus-input100"></span>
            <div class="eye-icon" (click)="togglePasswordVisibilityconfirm()">
              <i class="fa" [ngClass]="{'fa-eye': hidePasswordconfirm, 'fa-eye-slash': !hidePasswordconfirm}"></i>
            </div>
          </div>
          <div *ngIf="myForm.get('confirmPassword')?.dirty && myForm.hasError('mismatch', 'confirmPassword')">
            <p class="error-message">Las contraseñas no coinciden.</p>
          </div>
        </div>

        <div class="wrap-input100 m-b-23">
          <span class="label-input100">Celular</span>
          <input class="input100 small-placeholder" type="text" formControlName="phone" placeholder="Celular">
          <span class="focus-input100"></span>
        </div>

        <!-- Campos específicos para tiendas -->
        <div *ngIf="isStore">
          <div class="wrap-input100 m-b-23">
            <span class="label-input100">Especialidad</span>
            <input class="input100 small-placeholder" type="text" formControlName="specialties" placeholder="Especialidad">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 m-b-23">
            <span class="label-input100">Dirección</span>
            <input class="input100 small-placeholder" type="text" formControlName="address" placeholder="Dirección">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 m-b-23">
            <span class="label-input100">Logo</span>
            <input class="file-input-label" type="file" (change)="onFileChange($event)">
          </div>
        </div>

        <div class="text-right p-t-8 p-b-31"></div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" [disabled]="myForm.invalid" type="submit">
              Registrar
            </button>
          </div>
        </div>

        <div class="flex-col-c p-t-30">
          <a routerLink="/auth/login" class="txt2">
            Volver
          </a>
        </div>
      </form>
    </div>

    <div class="icon-container2">
      <div [ngClass]="{'company-icon2': isUser, 'company-icon3': isStore, 'coffee-background': true}">
        <img [src]="isUser ? '../../../../assets/images/encafeinadologo2.jpg' : '../../../../assets/images/encafeinadologo2.jpg'" alt="Icono de la empresa">
      </div>
    </div>
  </div>
</div>
