
<div class="main-content">
  <!-- Sección de Carrusel -->
  <section class="background-circle">
    <div class="content-container">
      <!-- Contenido en el lado izquierdo -->
      <div class="text-content">
        <h1 class="title">Bienvenidos a Encafeinados</h1>
        <h2 class="subtitle">
          Descubre el mejor café de especialidad<br>
          a un solo click
        </h2>
      </div>
      <!-- Carrusel en el lado derecho -->
      <div id="coffeeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="encafeinados/assets/images/aroma cafe.jpg" class="d-block w-100" alt="Café 1">
          </div>
          <div class="carousel-item">
            <img src="encafeinados/assets/images/vibrante.jpg" class="d-block w-100" alt="Café 2">
          </div>
          <div class="carousel-item">
            <img src="encafeinados/assets/images/saudade.jpg" class="d-block w-100" alt="Café 3">
          </div>
          <div class="carousel-item">
            <img src="encafeinados/assets/images/milagro.jpg" class="d-block w-100" alt="Café 4">
          </div>
        </div>
        <!-- Controles del carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#coffeeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#coffeeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Indicadores del carrusel -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#coffeeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#coffeeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#coffeeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#coffeeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
      </div>
    </div>
  </section>
    <div class="container"> 
    <!-- Sección de tarjetas con imágenes y texto -->
    <section class="my-5">
      <h2 class="text-center">Hecho por y para CoffeeLovers</h2>
      <div class="row mt-4">
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="card-body">
              <div class="service-circle-container">
                <video #video autoplay muted loop playsinline class="service-circle-img">
                  <source src="encafeinados/assets/videos/primerbeneficio.mp4" type="video/mp4">
                  Tu navegador no soporta el elemento de video.
                </video>
              </div>
              <h4 class="service-circle-text">Encuentra las mejores tiendas de especialidad de Café en un solo vistazo</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="card-body">
              <div class="service-circle-container">
                <video #video1 autoplay muted loop playsinline class="service-circle-img">
                  <source src="encafeinados/assets/videos/segundobeneficio.mp4" type="video/mp4">
                  Tu navegador no soporta el elemento de video.
                </video>
              </div>
              <h4 class="service-circle-text">Disfruta de una maravillosa experiencia cargada de aromas y sabores</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="card-body">
              <div class="service-circle-container">
                <video #video2 autoplay muted loop playsinline class="service-circle-img">
                  <source src="encafeinados/assets/videos/tercerbeneficio.mp4" type="video/mp4">
                  Tu navegador no soporta el elemento de video.
                </video>
              </div>
              <h4 class="service-circle-text">Recibe CoffeCoins y descuentos que podrás redimir al completar tu álbum</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- Nueva Sección "Cómo Iniciar" -->
<div class="content-after-circle">
    <div class="como-iniciar-contenedor">
      <header class="como-iniciar-header">
        <a href="#" class="como-iniciar-logo">Cómo iniciar...</a>
      </header>
      <nav class="como-iniciar-menu">
        <a >1. Ingresa o regístrate</a>
        <a >2. Selecciona el lugar a visitar</a>
        <a >3. Disfruta y gana</a>
      </nav>
      <main class="como-iniciar-main">
        <div class="como-iniciar-contenedor-texto">
          <h4 class="como-iniciar-titulo">Para iniciar debes:<br><span class="typed"></span></h4>
          <p>Fácil, ingresa, llega a la tienda con la guía del mapa, disfruta, acumula láminas y sigue ganando</p>

          <a href="#" class="como-iniciar-btn-link activo">Inicia ahora</a>
          <a href="#" class="como-iniciar-btn-link">Conoce más</a>
        </div>
      </main>
    </div>
</div>

  <div class="content-after-circle">
    <!-- Sección combinada de contáctenos y llamados a la acción -->
    <section class="my-5 combined-section">
      <div class="contact-action-content">
        <div class="contact-info text-center">
          <h2>Contáctenos</h2>
          <p class="mb-4">Si tienes alguna pregunta o quieres más información, no dudes en contactarnos:</p>
          <div class="contact-details">
            <a href="mailto:encafeinados4@gmail.com" class="social-link" target="_blank">
              <img src="encafeinados/assets/images/correo.png" alt="Correo"> encafeinados4&#64;gmail.com
            </a>
            <a href="https://wa.me/573006292795" class="social-link" target="_blank">
              <img src="encafeinados/assets/images/whatsapp.png" alt="WhatsApp"> +57 300 629 27 95
            </a>
          </div>
        </div>
        <div class="action-info text-center">
          <h2>Únete a nuestra comunidad</h2>
          <p class="mb-4">Sigue nuestras redes sociales para estar al día con nuestras novedades y promociones.</p>
          <div class="social-links">
            <a href="https://www.instagram.com/encafeinados.club" class="social-link" target="_blank">
              <img src="encafeinados/assets/images/Instagram-Icon.png" alt="Instagram">
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Pie de página -->
    <footer class="text-center my-5">
      <p>&copy; 2024 Encafeinados. Todos los derechos reservados.</p>
    </footer>
  </div>
</div>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="encafeinados/assets/js/main.js"></script>