/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #FEEFAD; /* Fondo amarillo claro */
  margin: 0;
  padding: 0;
}



/* Estilos para la sección combinada */
.combined-section {
  background-color: #e0f7fa; /* Azul claro */
  padding: 40px; /* Espacio interno alrededor del contenido */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.contact-action-content {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre las columnas */
  gap: 30px; /* Espacio entre las columnas */
}

.contact-info,
.action-info {
  flex: 1; /* Permite que las columnas se expandan igualmente */
  background-color: #ffffff; /* Fondo blanco para cada columna */
  padding: 20px; /* Espacio interno en cada columna */
  border-radius: 8px; /* Bordes redondeados en cada columna */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil en cada columna */
}

.contact-info h2,
.action-info h2 {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
  font-size: 1.8rem; /* Tamaño de fuente para los títulos */
  margin-bottom: 15px; /* Espacio debajo de los títulos */
  color: #0f1eee; /* Color negro (opcional, si quieres especificar el color) */
}


.contact-info p,
.action-info p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500; /* Peso Medium para la fuente Poppins */
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
}



.social-links {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los íconos */
}

.social-link img {
  width: 40px; /* Tamaño fijo para los íconos de redes sociales */
  height: auto;
}


/* Estilos para el encabezado */
header h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #03AED2; /* Azul principal */
}

header p {
  font-size: 1.5rem;
  color: #6c757d; /* Gris */
}

.text-content .title {
  font-size: 2em; /* Tamaño de fuente grande */
  color: #0f1eee; /* Color del texto */
  font-weight: 700; /* Peso de fuente más grueso */
  text-align: center; /* Centra el texto horizontalmente */
  
}


.text-content[_ngcontent-ng-c2998270043] .subtitle[_ngcontent-ng-c2998270043] {
  font-size: 2.5em;
  color: #000000;
  white-space: pre-line;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center; /* Centra el texto horizontalmente */
}

.text-content[_ngcontent-ng-c1307989152] .title[_ngcontent-ng-c1307989152] {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
  font-size: 3em; /* Tamaño de fuente */
  color: #0f1eee; /* Color negro */
  white-space: pre-line; /* Permite saltos de línea */
  line-height: 1.4; /* Espacio entre líneas */
  text-align: center; /* Centra el texto horizontalmente */
}



/* Estilos para el carrusel */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/* Estilos para las secciones */
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0f1eee; /* Amarillo brillante */
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
  
}

section p {
  font-size: 1.2rem;
  color: #000000; /* Azul principal */
  
}

.service-circle-text {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 500; /* Peso Medium */
  font-size: 1.2rem; /* Tamaño de fuente */
  color: #000000; /* Color de texto */
}



blockquote {
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #68D2E8; /* Azul claro */
  color: #797d6c; /* Gris */
}

footer p {
  color: #7d6c75; /* Gris */
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500; /* Peso Medium para la fuente Poppins */
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
}

.main-content {
  padding-top: 160px; /* Ajusta este valor según la altura de tu navbar */
}

/* Estilos para los enlaces sociales */
.social-link {
  margin: 0 10px; /* Espacio entre los logos sociales */
}

/* Estilos para el círculo de servicio */
.service-circle-container {
  width: 150px; /* Tamaño del círculo */
  height: 150px; /* Tamaño del círculo */
  border-radius: 50%; /* Círculo */
  overflow: hidden; /* Ajusta la imagen al círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centra el círculo */
  background-color: #f0f0f0; /* Color de fondo opcional */
  border: 5px solid #68D2E8; /* Borde alrededor del círculo */
}


.service-circle-img {
  width: 100%;
  height: auto;
}

.service-circle-text {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

/* Estilos para las tarjetas */
.card {
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-bottom: 20px; /* Espacio inferior */
  transition: transform 0.2s; /* Transición para el efecto hover */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación en hover */
}

.card-body {
  padding: 20px; /* Espaciado interno */
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {

  .contact-action-content {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    gap: 20px; /* Reduce el espacio entre las columnas */
  }

  .contact-info,
  .action-info {
    flex: 1 1 auto; /* Permite que las columnas se ajusten al contenido */
    width: 100%; /* Asegura que las columnas usen el ancho completo */
  }

  .contact-info h2,
  .action-info h2 {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }

  .contact-info p,
  .action-info p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
  .carousel {
    height: 300px; /* Ajusta la altura del carrusel en pantallas pequeñas */
    width: 100%; /* Asegura que el carrusel use el ancho completo */
  }

  .content-container {
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .carousel {
     height: 300px; /* Ajusta la altura del carrusel en pantallas pequeñas */
    width: 100%; /* Asegura que el carrusel use el ancho completo */
  }

  .carousel {
    flex: 1;
    height: 30px; /* Altura máxima del carrusel en pantallas pequeñas */
    width: 90%;
    margin: 0 auto; /* Centra el carrusel */
  }

  .social-links {
    gap: 10px; /* Menor espacio entre los íconos en pantallas pequeñas */
  }

  .social-link img {
    width: 30px; /* Tamaño más pequeño para los íconos en pantallas pequeñas */
  }

  .carousel-item img {
    height: 300px; /* Altura máxima para evitar que el carrusel se vuelva muy grande */
    width: 100%; /* Asegura que la imagen se ajuste al ancho del carrusel */
  }

  .carousel-inner {
    width: 100%; /* Ancho completo del carrusel interno */
  }

  .text-content .title {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño */
  }

  .text-content .subtitle {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }

  .service-circle-container {
    width: 120px; /* Tamaño reducido del círculo */
    height: 120px; /* Tamaño reducido del círculo */
  }

  .service-circle-text {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }
}

@media (max-width: 576px) {

  .contact-info h2,
  .action-info h2 {
    font-size: 1.2rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }

  .contact-info p,
  .action-info p {
    font-size: 0.8rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }

  .social-link img {
    width: 30px; /* Tamaño más pequeño para los íconos de redes sociales en pantallas pequeñas */
  }
  .background-circle {
    height: 300px; /* Tamaño aún más pequeño del círculo */
    padding: 5px; /* Espacio reducido alrededor del contenido */
  }

  .carousel-item img {
    max-height: 200px; /* Altura máxima aún menor en dispositivos muy pequeños */
  }

  .text-content .title {
    font-size: 1.2rem; /* Tamaño de fuente aún más pequeño */
  }

  .text-content .subtitle {
    font-size: 0.9rem; /* Tamaño de fuente aún más pequeño */
  }

  .service-circle-container {
    width: 100px; /* Tamaño más pequeño del círculo */
    height: 100px; /* Tamaño más pequeño del círculo */
  }

  .service-circle-text {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  }
}

/* Estilos para la sección de fondo circular */
.background-circle {
  position: relative;
  background: radial-gradient(circle, rgba(129, 227, 240, 0.5), rgba(224, 247, 250, 0)); /* Degradado difuminado del azul claro */
  border-radius: 100%;
  padding: 20px; /* Espacio alrededor del contenido */
  height: 700px; /* Tamaño del círculo */
  width: 100%; /* Ancho completo */
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Estilos para el contenedor de contenido */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilos para el contenido de texto */
.text-content {
  flex: 1;
  padding-right: 20px;
}

.text-content .title {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
  font-size: 3em; /* Tamaño de fuente grande */
  color: #0f1eee; /* Color azul */
}


.text-content .subtitle {
  font-size: 3em; /* Tamaño grande del subtítulo */
  color: #000000; /* Gris */
  white-space: pre-line; /* Permite saltos de línea en el texto */
  line-height: 1.4; /* Espacio entre líneas */
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
}

/* Estilos para el carrusel */
.carousel {
  flex: 1;
  max-width: 50%;
  height: 400px;
}

.carousel-inner {
  border-radius: 20px; /* Bordes redondeados */
  overflow: hidden; /* Aplicación correcta de los bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  height: 100%;
}

.carousel-item img {
  border-radius: 20px; /* Bordes redondeados en las imágenes */
  object-fit: cover; /* Ajuste de la imagen sin deformar */
}

.carousel-indicators button {
  background-color: #e0f7fa; /* Color de fondo de los indicadores inactivos */
  border-color: transparent; /* Elimina el borde por defecto */
  border-radius: 0; /* Cambia a 50% si deseas mantener forma circular */
  width: 80px; /* Ancho del indicador */
  height: 4px; /* Altura del indicador */
  margin: 0 5px; /* Espacio entre los indicadores */
}

.carousel-indicators .active {
  background-color: #0f1eee; /* Color azul para el indicador activo */
}


