<!-- mi-perfil.component.html -->
<div *ngIf="userRole === 'user' && userData" class="profile-container">
  <h2 class="profile-header">Mi Perfil</h2>
  <div class="profile-details">
    <div class="profile-item">
      <label>Email:</label>
      <p>{{ userData.email }}</p>
    </div>
    <div class="profile-item">
      <label>Nombre:</label>
      <p>{{ userData.name }}</p>
    </div>
    <div class="profile-item">
      <label>Teléfono:</label>
      <p *ngIf="userData.phone && userData.phone.length > 0">{{ userData.phone }}</p>
    </div>
    <div class="profile-item">
      <label>Coffee Coins:</label>
      <p>{{ userData.cafecoin }}</p>
    </div>
    <div class="profile-item">
      <label>Roles:</label>
      <p>{{ userData.roles.join(', ') }}</p>
    </div>
  </div>
</div>

<div *ngIf="userRole === 'shop' && shopData" class="profile-container">
  <h2 class="profile-header">Mi Perfil</h2>
  <div class="profile-details">
    <div class="profile-item">
      <label>Email:</label>
      <p>{{ shopData.email }}</p>
    </div>
    <div class="profile-item">
      <label>Nombre:</label>
      <p>{{ shopData.name }}</p>
    </div>
    <div class="profile-item">
      <label>Teléfono:</label>
      <p>{{ shopData.phone }}</p>
    </div>
    <div class="profile-item">
      <label>Especialidad 1:</label>
      <p>{{ shopData.specialties1 }}</p>
    </div>
    <div class="profile-item">
      <label>Especialidad 2:</label>
      <p>{{ shopData.specialties2 }}</p>
    </div>
    <div class="profile-item">
      <label>Dirección:</label>
      <p>{{ shopData.address }}</p>
    </div>
    <div class="profile-item">
      <label>Logo:</label>
      <img [src]="shopData.logo" alt="Logo de la tienda" class="shop-logo">
    </div>
  </div>
</div>