/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* Color de fondo principal del navbar */
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 3px solid #ffffff; /* Añadimos un borde inferior */
  transition: top 0.3s; /* Transición suave al cambiar la posición */
  z-index: 1000; /* Asegúrate de que el navbar esté sobre otros elementos */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


/* Clase para desplazar el navbar hacia abajo */
.navbar-scroll {
  top: 60px; /* Ajusta la distancia que deseas que el navbar se desplace hacia abajo */
}

/* Navbar Brand */
.navbar .navbar-brand {
  color: #0f1eee; /* Color del texto de la marca */
  font-size: 1.5rem;
  font-weight: bold;
}

/* Botones */
.btn-outline-light, .btn-outline-light2 {
  border-radius: 30px; /* Ajusta el valor según el radio de redondeo que desees */
}

.btn-outline-light {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #0f1eee;
  --bs-btn-hover-color: #0f1eee;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #0f1eee;
  --bs-btn-bg: #0f1eee;
}

.btn-outline-light2 {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #0f1eee;
  --bs-btn-hover-border-color: #0f1eee;
  --bs-btn-bg: #ffffff;
}

/* Enlaces de navegación */
.navbar .navbar-nav .nav-link {
  color: #FFFFFF; /* Color de los enlaces de navegación */
  margin: 0 10px;
  font-size: 1rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: #FEEFAD; /* Color de los enlaces al pasar el cursor */
}

/* Estilos del menú desplegable */
.navbar .dropdown-menu {
  background-color: #0f1eee; /* Color de fondo del menú desplegable */
  border: 1px solid #FDDE55;
}

.navbar .dropdown-menu .dropdown-item {
  color: #FFFFFF; /* Color de los elementos del menú desplegable */
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #ffffff; /* Color de fondo al pasar el cursor sobre los elementos */
  color: #0f1eee; /* Color del texto al pasar el cursor */
}

/* Imagen del usuario en el dropdown */
.navbar .dropdown-toggle {
  display: flex;
  align-items: center;
  color: #FFFFFF; /* Color del texto del dropdown */
}

.navbar .dropdown-toggle img {
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

/* Ajustar color del texto en estado hover */
.navbar .dropdown-toggle:hover {
  color: #9e9469; /* Color del texto al pasar el cursor */
}

/* Eliminamos la flecha del dropdown */
.dropdown-toggle::after {
  display: none !important;
}

/* Menu dropdown alineado a la derecha */
.navbar .dropdown-menu {
  right: 0;
  left: auto;
}

/* Estilos del modal */
.modal-base {
  background-color: #FFFFFF; /* Color de fondo más claro */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif; /* Fuente estilo libro */
  position: relative; /* Para las decoraciones */
  overflow: hidden; /* Evitar que se muestren elementos que sobresalen */
}

.modal-base::before,
.modal-base::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 20px;
  background: linear-gradient(to bottom, #68D2E8, #03AED2);
  z-index: -1;
  border-radius: 10px;
}

.modal-base::before {
  left: -25px;
  transform: rotate(2deg);
}

.modal-base::after {
  right: -25px;
  transform: rotate(-2deg);
}

.modal-base .modal-header {
  background-color: #0f1eee;
  color: #FFFFFF;
  border: none; /* Eliminamos el borde */
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-base .modal-header::after {
  content: "Pasaporte";
  position: absolute;
  bottom: -20px;
  right: 20px;
  font-size: 0.8rem;
  color: #03AED2;
}

.modal-base .modal-header .close {
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-base .modal-body {
  padding: 20px;
  background-color: #d4f1f7;
  border-radius: 0 0 10px 10px;
}

.modal-base .modal-footer {
  padding: 15px;
  display: flex;
  justify-content: center; /* Cambiado a 'center' para centrar los botones */
  border-top: 1px solid #E0E0E0;
}

.modal-title {
  font-size: 1.5em;
  margin: 0;
}

/* Ocultar el toggler en dispositivos móviles */
.navbar-toggler {
  display: none;
}

/* Mostrar el dropdown en móviles */
@media (max-width: 991px) {
  .navbar-collapse {
    display: none !important;
  }

  .dropdown {
    display: block;
  }
}

/* Mostrar el menú normal en pantallas grandes */
/* Mostrar el dropdown de "Menú" solo en móviles */
.d-lg-none {
  display: none;
}

@media (max-width: 992px) {
  .d-lg-none {
    display: block;
  }
  .navbar-collapse {
    display: none !important;
  }
}

/* Estilos generales para los dropdowns */
.navbar .dropdown-menu {
  background-color: #0f1eee;
  border: 1px solid #FDDE55;
}

.navbar .dropdown-menu .dropdown-item {
  color: #FFFFFF;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
  color: #0f1eee;
}

.btn-outline-lighte {
  width: 90px; /* Ajusta el tamaño según tus necesidades */
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #0f1eee;
  --bs-btn-hover-color: #0f1eee;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #0f1eee;
  --bs-btn-bg: #0f1eee;
  justify-content: center; /* Centra horizontalmente */
}
.btn-primary:hover {
  background-color: #676ed6;
}

.btn-primary {
  margin: 0 10px;
  background-color: #0f1eee;
  color: #ffffff;
  border: none;
}


