.modal-base {
    background-color: #fffaf0; /* Color de fondo más claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-family: "Georgia", serif; /* Fuente estilo libro */
    position: relative; /* Para las decoraciones */
    overflow: hidden; /* Evitar que se muestren elementos que sobresalen */
  }
  
  .modal-base::before,
  .modal-base::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 20px;
    background: linear-gradient(to bottom, #f5dcb7, #d1b5a1);
    z-index: -1;
    border-radius: 10px;
  }
  
  .modal-base::before {
    left: -25px;
    transform: rotate(2deg);
  }
  
  .modal-base::after {
    right: -25px;
    transform: rotate(-2deg);
  }
  
  .modal-base .modal-header {
    background-color: #6f4e37;
    color: #f7f3e9;
    border: none; /* Eliminamos el borde */
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .modal-base .modal-header::after {
    content: "Pasaporte";
    position: absolute;
    bottom: -20px;
    right: 20px;
    font-size: 0.8rem;
    color: #6f4e37;
  }
  
  .modal-base .modal-header .close {
    color: #f7f3e9;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .modal-base .modal-body {
    padding: 20px;
    background-color: #fdf5e6;
    border-radius: 0 0 10px 10px;
  }
  
  .modal-base .modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Aumentamos el espacio en la parte superior del footer */
    padding-bottom: 20px;
  }
  
  .modal-base .modal-footer .btn {
    margin: 0 10px;
    background-color: #6f4e37;
    color: #f7f3e9;
    border: none;
  }
  
  .modal-base .modal-footer .btn:hover {
    background-color: #5a3927;
  }
  