<div class="main-content">
  <div class="profile-container">

    <!-- Total de clientes -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card stat-box">
            <h2>Total CoffeLovers</h2>
            <div class="text-xl">{{ totalClients }}</div>
            <div class="icon-container">
              <i class="pi pi-users text-blue-500 text-xl"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card stat-box">
            <h2>Total CoffeCoins</h2>
            <div class="text-xl">{{ totalCafecoins }}</div>
            <div class="icon-container">
              <i class="pi pi-coins text-orange-500 text-xl"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card stat-box">
            <h2>Total Tiendas</h2>
            <div class="text-xl">{{ totalShops }}</div>
            <div class="icon-container">
              <i class="pi pi-check-circle text-green-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <!-- Top 5 section -->
    <div class="container">
      <div class="row">
        <!-- Top 5 Tiendas por códigos usados -->
        <div class="col-md-4">
          <h2>Top 5 Tiendas por Códigos Usados</h2>
          <ul>
            <li *ngFor="let shop of top5ShopsByCodeUsage">
              {{ shop.name }} - {{ shop.codeUsage }} códigos usados
            </li>
          </ul>
        </div>

        <!-- Top 5 Tiendas por Promedio de Calificaciones -->
        <div class="col-md-4">
          <h2>Top 5 Tiendas por Promedio</h2>
          <ul>
            <li *ngFor="let shop of top5ShopsByAverageRating">
              {{ shop.name }} - Promedio: {{ shop.averageRating | number:'1.1-1' }}
            </li>
          </ul>
        </div>

        <!-- Top 5 Usuarios por Cafecoins -->
        <div class="col-md-4">
          <h2>Top 5 Usuarios por Cafecoins</h2>
          <ul>
            <li *ngFor="let user of top5UsersByCafecoins">
              {{ user.name }} - {{ user.cafecoin }} Coffecoins
            </li>
          </ul>
        </div>
    </div>

    <!-- Listado de tiendas con promedio de calificaciones y codeUsage -->
    <div class="shops-container">
      <div *ngFor="let shop of shopsWithAverageRatings" class="shop-card">
        <div class="shop-details">
          <span class="shop-name">{{ shop.name }}</span>

          <!-- Mostrar el promedio de calificaciones -->
          <div class="shop-info">
            <i class="pi pi-star"></i>
            <span class="title-bold">Promedio de estrellas:</span> {{ shop.averageRating | number:'1.1-1' }}
          </div>

          <div class="shop-info">
            <i class="pi pi-users"></i>
            <span class="title-bold">Usos del código:</span> {{ shop.codeUsage }}
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Mostrar las reviews -->
    <div class="reviews-section">
      <h1><b>Comentarios</b></h1>
      <div class="reviews-container">
        <!-- Mostrar mensaje si no hay comentarios -->
        <div *ngIf="reviews.length === 0; else reviewsTemplate" class="no-reviews-message">
          <p>No hay comentarios disponibles</p>
        </div>

        <!-- Mostrar las reviews si existen -->
        <ng-template #reviewsTemplate>
          <div class="review-card" *ngFor="let review of reviews">
            <div class="review-content">
              {{ review.review }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>