body {
  font-family: 'Arial', sans-serif;
  background-color: #FEEFAD; /* Fondo amarillo claro */
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #0f1eee; /* Azul principal */
}

header p {
  font-size: 1.5rem;
  color: #6c757d; /* Gris */
  margin-bottom: -47px; /* Reduce el espacio debajo del encabezado */
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}


section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FDDE55; /* Amarillo brillante */
}

.shop-name {
  font-size: 1.5rem; /* Ajusta el tamaño según necesites */
  font-weight: bold;
  text-align: center; /* Centra el texto */
  margin-bottom: 1rem; /* Controla el espacio inferior */
  color: #333; /* Cambia el color si lo deseas */
}


section p {
  font-size: 1.2rem;
  color: #03AED2; /* Azul principal */
}

blockquote {
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #68D2E8; /* Azul claro */
  color: #6c757d; /* Gris */
}

footer p {
  font-size: 1rem;
  color: #6c757d; /* Gris */
}
header[_ngcontent-ng-c1097974527] h1[_ngcontent-ng-c1097974527] {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  font-weight: 600; /* Peso Semibold */
  font-size: 3em; /* Tamaño de fuente */
  color: #0f1eee; /* Color negro */
  white-space: pre-line; /* Permite saltos de línea */
  line-height: 1; /* Espacio entre líneas */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 10px; /* Reduce el espacio debajo del encabezado */
}
.carousel-image-container img {
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
}

.carousel-image-container h5 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}


.main-content{
  padding-top: 80px;
}


.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel-image-container img {
  max-width: 60%;
  max-height: 200%;
  height: auto;
  width: auto;
  transition: transform 0.3s ease; /* Transición suave */
}

/* Efecto al acercar la imagen */
.carousel-image-container img:hover {
  transform: scale(0.9); /* Efecto de zoom al hacer hover */

}

@media (max-width: 768px) {
  .carousel-image-container img:hover {
    transform: none; /* No aplicar transformación en dispositivos móviles */
  }

  header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0f1eee; /* Azul principal */
  }
  

  .main-content{
    padding-top: 120px;
  }
}