body {
  font-family: 'Arial', sans-serif;
  background-color: #FEEFAD; /* Fondo amarillo claro */
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #03AED2; /* Azul principal */
}

header p {
  font-size: 1.5rem;
  color: #6c757d; /* Gris */
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FDDE55; /* Amarillo brillante */
}

section p {
  font-size: 1.2rem;
  color: #03AED2; /* Azul principal */
}

blockquote {
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #68D2E8; /* Azul claro */
  color: #6c757d; /* Gris */
}

footer p {
  font-size: 1rem;
  color: #6c757d; /* Gris */
}



.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel-image-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
