<div class="main-content">
  <div class="container">
    <!-- Encabezado -->
    <header class="text-center my-5">
      <h1>Bienvenido a Encafeinados Tienda</h1>
      <p>Dar a conocer los cafés de especialidad</p>
    </header>
  
    <!-- Carrusel -->
    <div id="coffeeCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-container">
            <img src="assets/images/sitioenconstruccion.png" alt="Sitio en construcción">
          </div>
        </div>
      </div>
    </div>

    <!-- Pie de página -->
    <footer class="text-center my-5">
      <p>&copy; 2024 Encafeinados. Todos los derechos reservados.</p>
    </footer>
  </div>
</div>
