<div class="container">
  <div class="row">
    <div class="col-md-8 position-relative">
      <div id="map" style="height: 600px;"></div>
      <button *ngIf="showCancelButton" class="floating-button" (click)="cancelRoute()">
        <i class="fas fa-times text-white"></i>
      </button>
    </div>
    <div class="col-md-4 sidebar">
      <h2>Bienvenido a Encafeinados</h2>
      <p>¡Encuentra los mejores lugares de café en tu área!</p>
      <img src="https://via.placeholder.com/150" alt="Imagen de café" class="img-fluid">
      <p>Explora nuestras mejores recomendaciones para los amantes del café.</p>
      <br>
      <!-- Información adicional -->
      <div style="margin-top: 20px; background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
        <h3 style="margin-bottom: 10px;">Información adicional</h3>
        <ul style="list-style-type: none; padding-left: 0;">
          <li style="margin-bottom: 10px;">
            <img src="assets/IconsMarker/cosechaUser.png" alt="Icono de persona"
              style="width: 20px; height: 20px; margin-right: 10px;">
            <span style="font-size: 16px;">Eres tú</span>
          </li>
          <li style="margin-bottom: 10px;">
            <img src="assets/IconsMarker/cafeteriaAroma.png" alt="Icono de persona"
              style="width: 20px; height: 20px; margin-right: 10px;">
            <span style="font-size: 16px;">Tienda de café</span>
          </li>
          <li style="margin-bottom: 10px;" [ngClass]="{ 'active': isStoreOpen, 'inactive': !isStoreOpen }">
            <span style="color: green; font-size: 18px;">&#8226;</span> Tienda abierta
          </li>
          <li style="margin-bottom: 10px;" [ngClass]="{ 'active': isStoreOpen, 'inactive': !isStoreOpen }">
            <span style="color: red; font-size: 18px;">&#8226;</span> Tienda cerrada
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Botón del librito -->
<div class="button-container-footer">
  <button class="floating-button button-book" (click)="openModalAlbum()">
    <i class="fas fa-book text-white"></i>
  </button>
  <button class="floating-button button-camera" (click)="openModalWithCodigo()">
    <i class="fas fa-coffee text-white"></i>
  </button>
</div>

<!-- Modal para confirmar la ruta -->
<ng-template #createModal let-modal>
  <div class="modal-content-create">
    <div class="modal-header-create">
      <h4 class="modal-title-create">{{ destinationName }}</h4>
    </div>
    <div class="modal-body-create">
      <img src="https://via.placeholder.com/150" alt="Imagen de café" class="img-fluid" style="width: 100%;">
      <p style="padding-top: 3%;">Información sobre el café...</p>
      <div class="transport-selection" style="margin-top: 15px;">
        <label style="display: inline-block; margin-right: 15px;">
          <input type="radio" name="transport" value="car" [(ngModel)]="selectedTransport" (change)="selectTransportMode('car')" [checked]="selectedTransport === 'car'"> A Vehículo
        </label>
        <label style="display: inline-block; margin-right: 15px;">
          <input type="radio" name="transport" value="foot" [(ngModel)]="selectedTransport" (change)="selectTransportMode('foot')" [checked]="selectedTransport === 'foot'"> A Pie
        </label>
        <label style="display: inline-block; margin-right: 15px;">
          <input type="radio" name="transport" value="bike" [(ngModel)]="selectedTransport" (change)="selectTransportMode('bike')" [checked]="selectedTransport === 'bike'"> En bicicleta
        </label>
      </div>
    </div>
    <div class="modal-footer-create">
      <button type="button" class="btn btn-primary" (click)="showRouteGuia()">Guíame</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </div>
</ng-template>

<!-- Modal para cancelar la ruta -->
<ng-template #cancelModal let-modal>
  <div class="modal-content-cancelR">
    <div class="modal-header-cancelR">
      <h4 class="modal-title-cancelR">Cancelar Rutas</h4>
    </div>
    <div class="modal-body-cancelR">
      <p>¿Estás seguro de que quieres cancelar las rutas?</p>
    </div>
    <div class="modal-footer-cancelR">
      <button type="button" class="btn" (click)="confirmCancelRoute()">Confirmar</button>
      <button type="button" class="btn" (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </div>
</ng-template>

<!-- Modal para ingresar el código -->
<ng-template #codeModal let-modal>
  <div class="modal-content-code">
    <div class="modal-header-code">
      <h5 class="modal-title-code">Ingresa tu código:</h5>
    </div>
    <div class="modal-body-code">
      <label for="code">Código:</label>
      <input #codeInput type="text" id="code" class="form-control" [(ngModel)]="enteredCode"
        placeholder="Ingresa tu código">
    </div>
    <div class="modal-footer-code">
      <button type="button" class="btn" (click)="verifyCode()">Verificar</button>
      <button type="button" class="btn" (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </div>
</ng-template>

<!-- Modal álbum -->
<ng-template #modalBook let-modal>
  <div class="modal-content modal-book">
    <div class="modal-header">
      <h5 class="modal-title">Álbum</h5>
    </div>
    <div class="modal-body">
      <div class="album-info">
        <div class="obtained-stamps">
          Estampitas obtenidas: {{ obtainedStamps }}
        </div>
        <div class="missing-stamps">
          Estampitas faltantes: {{ obtainedStamps }}/{{ totalStamps }}
        </div>
      </div>
      <div class="album">
        <div class="album-page" *ngFor="let image of albumImages">
          <img [src]="image.src" [alt]="image.alt" class="img-fluid" [class.colored]="image.colored">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- Modal de llegada al café -->
<ng-template #arriveModal let-modal>
  <div class="modal-content-coffee modal-coffee">
    <div class="modal-header-coffee">
      <h4 class="modal-title-coffee" id="modal-title-coffee">¡¡Llegaste a {{ destinationName }}!!</h4>
    </div>
    <div class="modal-body-coffee">
      <div class="image-gallery-coffee">
        <img src="https://via.placeholder.com/150" alt="Imagen de café" class="img-fluid gallery-image">
        <img src="https://via.placeholder.com/150" alt="Imagen de café" class="img-fluid gallery-image">
        <img src="https://via.placeholder.com/150" alt="Imagen de café" class="img-fluid gallery-image">
      </div>
      <p class="description-coffee">
        Información sobre el café...
      </p>
    </div>
    <div class="modal-footer-coffee">
      <button type="button" class="btn" (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </div>
</ng-template>

