@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

#map {
  height: 70vh;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); /* Texture for the map */
  border-top: 2px solid #FDDE55;
}

.grayscale-icon {
  filter: grayscale(100%);
}

.container-fluid {
  max-width: 1200px;
}

.sidebar {
  background-color: #FEEFAD;
  padding: 20px;
  border-left: 2px solid #FDDE55;
}

.sidebar h2 {
  font-size: 1.8rem;
}

.sidebar p {
  font-size: 0.8rem;
}

.sidebar img {
  margin-bottom: 15px;
}

.floating-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #03AED2;
  color: #FEEFAD;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #68D2E8;
}

.floating-button i {
  font-size: 24px;
}
.flex-container {
  display: flex;
  justify-content: center; /* Alinea los elementos al centro horizontalmente */
  align-items: center; /* Alinea los elementos al centro verticalmente */
}

.button-container-footer {
  margin-top: 20px; /* Margen superior para separar del contenido debajo */
}

.button-book {
  margin-right: 10px; /* Espacio entre los botones */
}

.button-camera {
  margin-left: 60px; /* Espacio entre los botones */
}

.modal-content-code, .modal-content-create , .modal-content-cancelR{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.modal-header-code ,.modal-header-create ,.modal-header-cancelR {
  background-color: #03AED2;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;

}

.modal-body-code, .modal-body-create ,.modal-body-cancelR{
  padding: 20px;
  background-color: #FEEFAD;
  border-radius: 0 0 10px 10px;
}

.modal-footer-code, .modal-footer-create, .modal-footer-cancelR {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: none;
}

.modal-footer-code .btn , .modal-footer-create .btn , .modal-footer-cancelR .btn{
  margin: 0 10px;
  background-color: #FDDE55;
  color: #03AED2;
  border: none;
}

.modal-footer-code .btn:hover , .modal-footer-create .btn:hover , .modal-footer-cancelR .btn:hover{
  background-color: #FEEFAD;
}
/* ------------------------------------------------------------------------------------------------- */
.album {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.album-page {
  flex: 1 0 30%; /* Ajusta el tamaño según el diseño que prefieras */
  text-align: center;
}

.album-page img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;

  .button-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
  }

  .floating-button {
    background-color: #03AED2;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}

.modal-book {
  background-color: #fffaf0; /* Color de fondo más claro */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  position: relative; /* Para las decoraciones */
  overflow: hidden; /* Evitar que se muestren elementos que sobresalen */
}

.modal-book::before,
.modal-book::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 20px;
  background: linear-gradient(to bottom, #68D2E8, #03AED2);
  z-index: -1;
  border-radius: 10px;
}

.modal-book::before {
  left: -25px;
  transform: rotate(2deg);
}

.modal-book::after {
  right: -25px;
  transform: rotate(-2deg);
}

.modal-book .modal-header {
  background-color: #03AED2;
  color: #FFFFFF;
  border: none; /* Eliminamos el borde */
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-book .modal-header::after {
  content: "Pasaporte";
  position: absolute;
  bottom: -20px;
  right: 20px;
  font-size: 0.8rem;
  color: #03AED2;
}

.modal-book .modal-header .close {
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-book .modal-body {
  padding: 20px;
  background-color: #FEEFAD;
  border-radius: 0 0 10px 10px;
}

.modal-book .album {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columnas */
  gap: 10px; /* Espacio entre las piezas */
}

.modal-book .album-page {
  text-align: center;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-book .album-page img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-book .modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  padding-top: 20px; /* Aumentamos el espacio en la parte superior del footer */
  padding-bottom: 20px;
}

.modal-book .modal-footer .btn {
  margin: 0 10px;
  background-color: #FDDE55;
  color: #03AED2;
  border: none;
}

.modal-book .modal-footer .btn:hover {
  background-color: #FEEFAD;
}

.album img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.album img.colored {
  filter: grayscale(0%);
}

.album-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 3px 0; /* Agrega espacio arriba y abajo */
}

.obtained-stamps, .missing-stamps {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 20px; /* Agrega espacio a los lados */
}

/* ------------------------------------------------------------------------------------------ */

.modal-coffee {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.modal-header-coffee {
  background-color: #03AED2;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
}

.modal-title-coffee {
  font-size: 1.5em;
  margin: 0;
}

.modal-body-coffee {
  padding: 20px;
  background-color: #FEEFAD;
  border-radius: 0 0 10px 10px;
}

.image-gallery-coffee {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 10px;
}

.gallery-image {
  width: 30%;
  border-radius: 5px;
}

.description-coffee {
  padding-top: 10px;
}

.modal-footer-coffee {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: none;
}

.modal-footer-coffee .btn {
  background-color: #FDDE55;
  color: #03AED2;
  border: none;
}

.modal-footer-coffee .btn:hover {
  background-color: #FEEFAD;
}
