<!-- data-treatment-dialog.component.html -->
<h1 mat-dialog-title>Tratamiento de Datos</h1>
<div mat-dialog-content>
  <p>Antes de registrarte leer porfavor el tratamiento de datos...</p>
  <!-- Puedes agregar un enlace al PDF si es necesario -->
  <a href="assets/pdf/Tratamiento-datos-personales-Encafeina2.pdf" target="_blank">Ver PDF</a>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary" (click)="onYesClick()">Aceptar</button>
</div>
