<div class="container facturacion-container">
  <div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="facturacion-card">
        <div class="facturacion-content">
          <i class="fas fa-coins icon"></i>
          <div>
            <h5>Total Facturación</h5>
            <p class="total-facturacion">{{ formattedAmountPayments }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="facturacion-card">
        <div class="facturacion-content">
          <i class="fas fa-store-alt icon"></i>
          <div>
            <h5>Tiendas por Pagar</h5>
            <p class="tiendas-pendientes">{{pendingPaymentsCount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <label for="store" class="mr-2">Tienda:</label>
      <div class="custom-select store-select" (click)="toggleStoreDropdown()">
        <div class="selected-value">
          {{ getSelectedStoreName() }}
          <span *ngIf="selectedStoreId" class="clear-filter" (click)="clearSelectedStore($event)"> ✖️ </span>
        </div>
        <div class="options" *ngIf="storeDropdownOpen">
          <div class="option" *ngFor="let store of stores" (click)="selectStore(store._id)">{{ store.name }}</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="years" class="mr-2">Año:</label>
      <div class="custom-select year-select" (click)="toggleYearDropdown()">
        <div class="selected-value">
          {{ selectedYear || 'Seleccione un año' }}
          <span *ngIf="selectedYear" class="clear-filter" (click)="clearSelectedYear($event)"> ✖️ </span>
        </div>
        <div class="options" *ngIf="yearDropdownOpen">
          <div class="option" *ngFor="let year of years" (click)="selectYear(year)">{{ year }}</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="months" class="mr-2">Mes:</label>
      <div class="custom-select month-select" (click)="toggleMonthDropdown()">
        <div class="selected-value">
          {{ getSelectedMonthName() }}
          <!-- Mover la "X" aquí, al final de la selección -->
          <span *ngIf="selectedMonth" class="clear-filter" (click)="clearSelectedMonth($event)"> ✖️ </span>
        </div>
        <div class="options" *ngIf="monthDropdownOpen">
          <div class="option" *ngFor="let month of months" (click)="selectMonth(month.value)">
            {{ month.name }}
          </div>
        </div>
      </div>
    </div>    

    <div class="col-md-3">
      <label for="status" class="mr-2">Estado:</label>
      <div class="custom-select status-select" (click)="toggleStatusDropdown()">
        <div class="selected-value">
          {{ selectedStatus === true ? 'Pagado' : selectedStatus === false ? 'Pendiente' : 'Seleccione un estado' }}
          <span *ngIf="selectedStatus !== null" class="clear-filter" (click)="clearSelectedStatus($event)"> ✖️ </span>
        </div>
        <div class="options" *ngIf="statusDropdownOpen">
          <div class="option" (click)="selectStatus(true)">Pagado</div>
          <div class="option" (click)="selectStatus(false)">Pendiente</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de lista de pagos -->
  <div class="row">
    <div class="col-md-12">
      <!-- Tabla responsive -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th class="text-center">Tienda</th>
              <th class="text-center">Mes</th>
              <th class="text-center">Año</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filteredPayments.length === 0">
              <td class="text-center" colspan="5">No hay registros</td>
            </tr>
            <tr *ngFor="let payment of getPaginatedPayments()" class="table-row">
              <td class="text-center">{{ payment.nameShop }}</td>
              <td class="text-center">{{ payment.month | number: '2.0' }}</td>
              <td class="text-center">{{ payment.year }}</td>
              <td class="text-center">
                <span
                  [ngClass]="{'status-button': true, 'paid': payment.statusPayment, 'pending': !payment.statusPayment}">
                  {{ payment.statusPayment ? 'Pagado' : 'Pendiente' }}
                </span>
              </td>
              <td class="text-center">
                <button class="btn btn-primary btn-sm" (click)="viewDetails(payment)" [disabled]="!payment.statusPayment">
                  <i class="fas fa-search"></i>
                </button>
              </td>
            </tr>
          </tbody>
                    
        </table>
      </div>

      <!-- Controles de paginación -->
      <div class="pagination-slider">
        <button class="btn prev" [disabled]="page === 1" (click)="setPage(page - 1)">⟨ Anterior</button>
        <span class="page-indicator">Página {{ page }} de {{ totalPages }}</span>
        <button class="btn next" [disabled]="page === totalPages" (click)="setPage(page + 1)">Siguiente ⟩</button>
      </div>           
    </div>
  </div>
  <div *ngIf="selectedPaymentImage" class="modal" tabindex="-1" style="display: block;">
    <div class="modal-overlay"></div> <!-- Agregar overlay -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Comprobante de pago</h4>
        </div>
        <div class="modal-body text-center">
          <div class="image-gallery">
            <img [src]="selectedPaymentImage" alt="Imagen del registro" class="img-fluid gallery-image">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>