.store-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between; /* Alinea los elementos en la fila */
  gap: 20px; /* Espacio entre los elementos */
  
  
}

.main-content1{
  padding-top: 160px; /* Ajusta este valor según la altura de tu navbar */
  
}

.info, .activation-section {
  flex: 1; /* Permite que las secciones se expandan igualmente */
  padding: 20px;
  background-color: #d4f1f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centro el contenido dentro de las secciones */
  max-height: 1000px;
}

/* Oculta el separador en dispositivos móviles */
.separator {
  width: 2px;
  background-color: #FDDE55;
  margin: 0 20px;
  display: none; /* Ocultar por defecto */
}

/* Media Queries para pantallas grandes */
@media (min-width: 768px) {
  .separator {
    display: block; /* Mostrar en pantallas grandes */
    height: 100%; /* Altura del separador igual al contenido */
  }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Acomoda los elementos en columna en lugar de fila */
  }

  .info, .activation-section {
    margin-bottom: 20px; /* Espacio entre secciones */
    flex: 1 1 100%; /* Toma el 100% del ancho en dispositivos móviles */
  }

  .separator {
    display: none; /* Asegúrate de que el separador esté oculto en pantallas pequeñas */
  }
}

.info p {
  margin: 10px 0;
}

.info .btn {
  margin-top: 10px;
  background-color: #2516f1;
  color: #ffffff;
}

.activation-section h2 {
  margin-bottom: 20px;
}

.activation-section .btn {
  background-color: #2516f1;
  color: #ffffff;
}

.status p {
  margin-top: 10px;
}

.status .active {
  color: green;
}

.status .inactive {
  color: red;
}

/* Modal Styles */
.modal-base {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffaf0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-base.show {
  display: block;
}


.modal-header {
  background-color: #2516f1;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}


.modal-body {
  padding: 20px;
  background-color: #d4f1f7;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.modal-footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.h1{
  background-color: #2516f1;
}
.modal-footer .btn {
  margin: 0 10px;
  background-color: #2516f1;
  color: #ffffff;
  border: none;
}


.modal-footer .btn:hover {
  background-color: #d4f1f7;
}

.review-container {
  max-height: 100px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical */
  border: 1px solid #ffffff; /* Opcional: borde para definir la caja */
  padding: 10px; /* Espacio interno */
  background-color: #fafafa; /* Fondo amarillo para coincidir con el resto */
}

.review {
  margin-bottom: 10px; /* Espacio entre reseñas */
}
