<div class="main-content1">
  <div class="store-content">
    <div class="header">
      <h1><strong>Bienvenido a la página de tu café de especialidad</strong></h1>
    </div>
    <div class="main-content">

      <div class="info">
        <h2><strong>Código de la tienda</strong></h2>
        <p><strong>Tu código aleatorio es:</strong> {{ codigo }}</p>
        <p><strong>Número de personas que han ingresado el código:</strong> {{ codeEntries }}</p>
        <button class="btn" (click)="useCode()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ isLoading ? 'Cargando...' : 'Generar un nuevo código' }}
        </button>
      </div>
      

      <div class="activation-section">
        <h2><strong>Activar Tienda en el Mapa</strong></h2>
        <button class="btn" (click)="openModal()">
          {{ isStoreOpen ? 'Cerrar Tienda' : 'Abrir Tienda' }}
        </button>
        <div class="status">
          <p [ngClass]="{ 'active': isStoreOpen, 'inactive': !isStoreOpen }">
            {{ isStoreOpen ? 'La tienda está abierta.' : 'La tienda está cerrada.' }}
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="info">
      <div class="average-rating">
        <h1><strong>Promedio de Calificaciones</strong></h1>
        <h2> {{ averageRating | number:'1.1-1' }} estrellas</h2>

        <div class="reviews-section">
          <h2><strong>Reseñas de Clientes</strong></h2>

          <!-- Contenedor común con scrollbar -->
          <div class="scrollable-container">
            <div class="review-rating-container">

              <div *ngIf="reviews.length === 0" class="no-comments-message">
                <p>No hay comentarios</p>
              </div>
              
              <div *ngFor="let review of reviews; let i = index" class="review-card">
                <div class="card-header">
                  <strong>Comentario:</strong>
                </div>
                <div class="card-body">
                  <p>{{ review.text }}</p>
                  <div class="card-header">
                    <strong>Calificación:</strong>
                  </div>
                  <div class="card-body">
                    <p>{{ ratings[i]?.stars }} de 5 estrellas</p>
                  </div>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal-base" [ngClass]="{ 'show': showModal }">
      <div class="modal-header">
        <h4 class="modal-title">¿Deseas {{ isStoreOpen ? 'cerrar' : 'abrir' }} la tienda en el mapa?</h4>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que quieres {{ isStoreOpen ? 'cerrar' : 'abrir' }} la tienda en el mapa?</p>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn" 
          (click)="confirmToggleStoreActivation()" 
          [disabled]="isStoreLoading"
        >
          <span *ngIf="isStoreLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ isStoreLoading ? 'Cargando...' : (isStoreOpen ? 'Sí, cerrar' : 'Sí, abrir') }}
        </button>
        <button 
          type="button" 
          class="btn" 
          (click)="closeModal()" 
          [disabled]="isStoreLoading"
        >
          Cancelar
        </button>
      </div>
      
    </div>
  </div>
</div>