.store-content {
  padding: 20px;
  background-color: #fffaf0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info, .activation-section {
  flex: 1;
  padding: 20px;
  background-color: #FEEFAD;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centro el contenido dentro de las secciones */
}

.separator {
  width: 2px;
  height: 100%;
  background-color: #FDDE55;
  margin: 0 20px;
}

.info p {
  margin: 10px 0;
}

.info .btn {
  margin-top: 10px;
  background-color: #03AED2;
  color: #FEEFAD;
}

.activation-section h2 {
  margin-bottom: 20px;
}

.activation-section .btn {
  background-color: #03AED2;
  color: #FEEFAD;
}

.status p {
  margin-top: 10px;
}

.status .active {
  color: green;
}

.status .inactive {
  color: red;
}

/* Modal Styles */
.modal-base {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffaf0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-base.show {
  display: block;
}

.modal-header {
  background-color: #03AED2;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.modal-body {
  padding: 20px;
  background-color: #FEEFAD;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.modal-footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.modal-footer .btn {
  margin: 0 10px;
  background-color: #FDDE55;
  color: #03AED2;
  border: none;
}

.modal-footer .btn:hover {
  background-color: #FEEFAD;
}
